<nav class="navbar">
    <div class="nav-left">
        <img src="images/logo.png" alt="logo">
    </div>

    <div class="nav-center">
        <a href="#hero" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
        <a href="#funcionalidades">Funcionalidades</a>
        <a href="#seguridad">Seguridad</a>
        <a routerLink="/contacto" routerLinkActive="active-link">Contacto</a>
    </div>

    <div class="nav-right">
        <a routerLink="/login" class="login">iniciar sesión</a>
        <a routerLink="/register">
            <button class="register">Registrarse</button>
        </a>
    </div>
</nav>