<nav class="navbar">
    <div class="nav-left">
        <img src="images/logo.png" alt="logo">
    </div>

    <div class="nav-center">
        <a routerLink="/"   routerLinkActive = "active-link" [routerLinkActiveOptions] = "{ exact: true }">Inicio</a>
        <a routerLink="/servicios"  routerLinkActive="active-link">Servicios</a>
        <a routerLink="/nosotros"  routerLinkActive="active-link">nosotros</a>
        <a routerLink="/blog"  routerLinkActive="active-link">Blog</a>
        <a routerLink="/contacto"  routerLinkActive="active-link">Contacto</a>
    </div>

    <div class="nav-right">
        <a routerLink="/login" class="login">iniciar sesión</a>
        <a routerLink="/register">
        <button class="register">Registrarse</button>
        </a>
    </div>
</nav>