<footer class="footer">
    <div class="footer-container">
        <!-- izquierda -->
        <div class="footer-left">
            <img src="images/logo.png" alt="logo">
            <p>
                Plataforma de gestión financiera con enfoque moderno, seguro y elegante.
            </p>
        </div>


        <!-- centro -->
        <div class="footer-center">
            <a routerLink="/">Inicio</a>
            <a routerLink="#">Servicios</a>
            <a routerLink="#">Nosotros</a>
            <a routerLink="#">Contacto</a>
        </div>

        <!-- derecha -->
        <div class="footer-right">
            <p>© 2026 fin plan seguro. Todos los derechos reservados</p>
        </div>
    </div>
</footer>