.footer {
  padding: 20px 40px;
  background: #f8faf8;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* IZQUIERDA */
.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-left img {
  height: 26px;
}

.footer-left span {
  font-size: 13px;
  font-weight: 600;
  color: #0f172a;
}

/* CENTRO */
.footer-center {
  display: flex;
  gap: 20px;
}

.footer-center a {
  text-decoration: none;
  color: #555;
  font-size: 12px;
  transition: 0.2s;
}

.footer-center a:hover {
  color: #015023;
}

/* DERECHA */
.footer-right {
  font-size: 12px;
  color: #777;
}