html,
body,
app-root {
  width: 100%;
  height: 100%;
  margin: 0;
}

app-root {
  display: block;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  padding: 0;

  &.menu-abierto {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}